  {% extends 'head.html' %} <!-- Fazendo referência onde está o head da página -->
  {% block page_content %} <!-- Inicio alteração -->
  <body class="text-center">
    <form class="form-signin" action="{{ url_for('login') }}" method="POST">
      <img class="mb-4" src="ALTERAR" alt="" width="72" height="72">
      
      <h1 class="font-weight-bold">PONTO WEB</h1>
      <hr>
      <h2 class="h3 mb-3 font-weight-normal">Login</h2>

      {% if error %} 
      <div role="alert">
        <p class="text-danger">{{ error }}</p>
      </div>
      {% endif %}
      
      <label for="user" class="sr-only">Usuário</label>
      <input type="text" id="user" name='user' class="form-control" placeholder="Usuário" autofocus>

      <label for="pass" class="sr-only">Senha</label>
      <input type="password" id="pass" name='pass' class="form-control" placeholder="Senha">
      <button class="btn btn-lg btn btn-secondary btn-block" type="submit" name='submit' value='entrar'>Entrar</button>
 
      <button class="btn btn-lg btn btn-success btn-block" type="submit" name='submit' value='btponto'>Bater Ponto</button>

      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
  </body>

  {% endblock %} <!-- Fim alteração -->