{% extends 'head.html' %} <!-- Fazendo referência onde está o head da página -->
{% block page_content %} <!-- Inicio alteração -->
<!-- Custom styles for this template -->
 <link href="{{ url_for('static',filename='css/dashboard.css')}}" rel="stylesheet">
 <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Ponto Web</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{url_for('logout')}}" style="color:#ff6666;">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">

          <h2>Últimos pontos registrados</h2>
          <div class="table-responsive">
            {% if noreg %} 
            <div role="alert">
               <p class="alert-danger">{{ noreg }}</p>
             </div>
            {% else %}
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Hora</th>
                  <th>Local</th>
                  <th>Tipo</th>
                </tr>
              </thead>
              <tbody>
              	{% for info in lista %}
                <tr>
                  <td>{{info[0]}}</td>
                  <td>{{info[1]}}</td>
                  <td>{{info[2]}}</td>
                  <td>{{info[3]}}</td>
                  <td>{{info[4]}}</td>
                </tr>
                {% endfor %}
               </tbody>
            </table>
            {% endif %}
           </div>
    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018</p>
    </footer>

    <script type="text/javascript">
    	setTimeout(function(){
   			window.location.reload(1);
		}, 18000);
    </script>>
  </body>
  {% endblock %} <!-- FIM alteração -->